@@ -0,0 +1,28 @@
<div id="frameMaior">
aljdslkjahsldhasjhdjksah
<div id="frameMenor">
<div class=" container-fluid" id="apresentaAnuncio" *ngFor="let anuncio of anuncios">
    <div class="row d-flex">
    <div class="col-md-7" style="border: 1px solid black;">
        <div id="logoInstituicao"></div>
        <!-- <img src="" alt="imagem da instituição" id="logoInstituicao"> -->
        
               
    </div>
    <div class="col" id="dadosInstituicao">
        <h2 id="nomeInstituicao">{{ anuncio.instituicao.nome }}</h2> <br>
        <h2 id="nomeAnuncio" >{{ anuncio.nome }}</h2> <br>
        <h2 id="tipoDoacao">Tipo de Doação: Alimentos</h2> <br>
        <h2 id="dataAnuncio">data do anuncio:{{anuncio.data_criacao| date:'dd/MM/yyyy'}}</h2> <br>
        <button id="btnqueroDoar">Quero doar</button> <br>

    </div>>
    </div>
    <h2 id="descricaoAnunciolt"> Descrição do Anúncio:</h2>
        <div id="descricaoAnuncio">
            {{anuncio.descricao}}
    <h2 style="margin-top: 50px; font-size: 40px; color: black;" > Endereço:</h2>
            aqui vai vir o mapa 

</div>
</div>
