<div class="container">
  <!-- Seção Criação de Anúncio -->
  <div class="row mt-4">
    <div class="col-12">
      <h1 class="text-center">Criação de Anúncio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #createForm="ngForm" (ngSubmit)="criarNovoAnuncio(createForm)"  enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nomeAnuncio" class="form-label">Nome do Anúncio:</label>
          <input type="text" class="form-control" id="nomeAnuncio" name="nomeAnuncio" required ngModel>
        </div>
        <div class="mb-3">
          <label for="descricaoAnuncio" class="form-label">Descrição do Anúncio:</label>
          <textarea class="form-control" id="descricaoAnuncio" name="descricaoAnuncio" required ngModel></textarea>
        </div>
        <div class="mb-3">
          <label for="imagemAnuncio" class="form-label">Imagem do Anúncio:</label>
          <input type="file" class="form-control" id="imagemAnuncio" name="imagemAnuncio" accept="image/*" required ngModel>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary">Criar Anúncio</button>
        </div>
      </form>
    </div>
  </div>
</div>
