<body>
  

<div class="container">
  <div class="form-container">
    <div class="form-item large-input">
      <div class="input-group">
        <input type="search" id="searchInput" name="searchInput" placeholder="Pesquisar Anúncio" [(ngModel)]="searchTerm" (keyup.enter)="searchAnuncios()">
        
        
      </div>
    </div>
    <div class="form-item">
      <label for="text1">Data do Anúncio:</label>
      <div class="input-group">
        <select id="text1" name="text1" [(ngModel)]="sortBy" (ngModelChange)="sortAnuncios()">
          <option value="mais-recentes">Mais Recentes</option>
          <option value="mais-antigos">Mais Antigos</option>
        </select>
      </div>
    </div>


  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let anuncio of anuncios">
      <div class="card h-80">
        <img [src]="anuncio.imagem" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ anuncio.nome }}</h3>
          <p class="card-description">Instituição: {{ anuncio.instituicao.nome }}</p>
          <p class="card-text">{{ anuncio.descricao }}</p>
          <div class="d-flex justify-content-center">
            <a [routerLink]="['/detalhe_anuncio', anuncio.id]" class="btn btn-primary btn-custom">   Ver mais   </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <footer>
      <div class="pagination-container">
        <nav aria-label="Navegação de página exemplo">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link"  aria-label="Anterior" (click)="previousPage()">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link">{{ currentPage }}</a>
            </li>
            <li class="page-item">
              <a class="page-link"  aria-label="Próximo" (click)="nextPage()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Próximo</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    
</div>  

</body>