<link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

<body>

    <div class="conteiner"><img src="../../../assets/images/logos/canto.png" alt="canto"></div>

    <div class="caixa">
        <h1>
            Quem Somos?
        </h1>
        <p>
            Somos estudantes da Escola Politécnica de Pernambuco, cursando a cadeira de Ferramentas Computacionais. Como parte de uma equipe dedicada de 24 alunos, nosso principal objetivo é fornecer suporte e promover soluções inovadoras para várias instituições e organizações não governamentais (ONGs). Visamos promover e incentivar a doação de alimentos, seja de empresas, instituições ou pessoas físicas. Ao fazer essas contribuições, podemos combater ativamente a fome e promover a preservação da dignidade humana.
        </p>
        <p>
            Através de nosso site, o usuário tem acesso a informações sobre diversas instituições, fornecendo assim um método rápido, fácil e direto para ajudá-lo a localizá-las com mais facilidade e saber quais doações elas precisam.
        </p>
    </div>

    <div class="caixa2">
        <img src="../../../assets/images/logos/logo_header.png" alt="Logo">
    </div>

    <div class="canto">
        <img src="../../../assets/images/logos/canto.png" alt="Canto 2">
    </div>
     <!-- <google-map
    height="500px"
    width="100%"
   
  ></google-map>  -->
  <div id="map" ></div>
  <!-- Use custom zoom buttons -->
 
</body>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU0QHkeuGxURowacTCBbaPNpIEgLvY2o&callback=initMap&v=weekly"
  defer
></script>
  





