* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    border: none;
    outline: 0;
    font-family: "Open Sans";
    font-size: 17px;
}

.caixa {
    display: inline-block;
    width: 50%;
    text-align: justify;
    padding-left: 5%;
}

.caixa2 {
    display: inline-block;
    vertical-align: top; 
    margin-left: 10%; 
}

.canto {
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
}

p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.conteiner {
    max-width: 100%; 
    overflow: hidden; 
}

@media only screen and (max-width: 1200px) {
    .caixa {
        width: 90%;
        font-size: 14px;
        display: block;
    }

    .caixa2 {
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 700px){
    .caixa2 img{
        width: 250px;
        height: 250px;
    }
}