<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let campanha of campanhas; let i = index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let campanha of campanhas; let i = index" class="carousel-item" [class.active]="i === 0">
      <img class="d-block w-100" [src]="campanha.imagem" [alt]="'Slide ' + (i + 1)">
      <div class="carousel-caption d-md-block">
        <h2 style="color: black;">{{ campanha.nome }}</h2>
        <p>{{ campanha.descricao }}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>

<!-- Retangulo no Meio do Site-->
<div class="forma-geometrica">
    <img id="meio-circulo" src="imagens/index_img/meio c 1.png">
  </div>

<h1 style="text-align: center; line-height: 150px;bottom: 50px;">Instituições</h1>
  <div class="container marketing">
        <!-- Três colunas de texto, abaixo do carousel -->
        <div class="row" >
          <div class="col-lg-4" *ngFor="let instituicao of instituicoes">
            <img class="rounded" src="{{ instituicao.imagem }}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{ instituicao.nome }}</h2>
            <p>{{ instituicao.descricao }}</p>
            <p><a class="btn btn-secondary" href="#" role="button">Quero Ajudar &raquo;</a></p>
          </div>

        </div>