<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" *ngFor="let campanha of campanhas; let i = index" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : 'false'" [attr.aria-label]="'Slide ' + (i + 1)"></button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let campanha of campanhas; let i = index" class="carousel-item" [class.active]="i === 0">
      <div class="d-flex justify-content-center">
        <img class="w-50 img-fluid" [src]="campanha.imagem" [alt]="'Slide ' + (i + 1)">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ campanha.nome }}</h5>
        <p>{{ campanha.descricao }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" *ngIf="campanhas.length > 1">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" *ngIf="campanhas.length > 1">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>






<!-- Retangulo no Meio do Site-->
<div class="forma-geometrica">
    <img id="meio-circulo" src="imagens/index_img/meio c 1.png">
  </div>

<h1 style="text-align: center; line-height: 150px;bottom: 50px;">Instituições</h1>
  <div class="container marketing">
        <!-- Três colunas de texto, abaixo do carousel -->
        <div class="row">
          <div class="row">
            <div class="col-lg-3" *ngFor="let instituicao of instituicoes">
              <div class="card mb-4 border-0 card-custom">
                <img class="card-img-top rounded" src="{{ instituicao.imagem }}" alt="Generic placeholder image">
                <div class="card-body d-flex flex-column justify-content-between position-relative text-center">
                  <div>
                    <h2 class="card-title card-title-custom">{{ instituicao.nome }}</h2>
                    <p class="card-text text-truncate">{{ instituicao.descricao }}</p>
                    <p><strong>Campanha:</strong> {{ obternomecampanhaPorId(instituicao.usuario_id) }}</p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <a class="btn custom-button w-100" href="#" role="button">Quero Ajudar!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        
        </div>
        
        
    </div>
        
        
