.card-title-custom {
    color: #2CAFB8;
  }
.card-custom {
    height: 400px;
  }
  
  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 180px;
    font-family: Open Sans;

  }
  
  .card-text {
    max-height: 100px;
    overflow: hidden;
  }
  .texto-lateral {
    float: left;
    margin-left: 2vw; 
    margin-bottom: 2vw;
    color: #4E4E4E;
    font-size: 2.3rem;
    font-family: Open Sans;
    font-weight: 700;
  }

  .custom-button {
    background: linear-gradient(90deg, rgba(255,224,22,1) 0%, rgba(255,224,22,1) 35%, rgba(253,192,2,1) 100%);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100px;;
   
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Metropolis', sans-serif;
    padding: 15px 25px;

  }  

  .doe-retangulo {
    background-color:  rgba(255, 224, 22, 0.8);
    height: 200px; 
    width: 100%;  
    position: relative;
    margin-right: 20px;
    padding: 20px;
    

  }
  .Instituicoes{
    text-align: center; 
    line-height: 150px;
    bottom: 50px;
    color: #4E4E4E;
    text-align: center;
    font-size: 48px;
    font-family: Open Sans;
    font-weight: 700;
  }
  .botaodoe{
    margin-right: 2rem;
    border-radius: 25px;
    background: #597080;
    font-family: Open Sans;
    font-weight: 700;

  }

  .semicirculo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 250px;
    height: 125px;
    background-color: #597080;

    background-color: transparent;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 25px solid #597080;
    
  }



  .featured-block {
    text-align: center;
    transition: all 0.5s ease;
    min-height: 256px;
    padding: 15px;
  }
  
  .featured-block:hover {
    background: var(--white-color);
    border-radius: var(--border-radius-medium);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  }
  
  .featured-block:hover .featured-block-image {
    transform: scale(0.75);
  }
  
  .featured-block-image {
    display: block;
    margin: auto;
    transition: all 0.5s;
  }
  
  .featured-block:hover .featured-block-text {
    margin-top: 0;
  }
  
  .featured-block-text {
    color: var(--primary-color);
    font-size: var(--h5-font-size);
    margin-top: 20px;
    transition: all 0.5s;
  }
  

  .img-container {
    max-height: 500px; /* Altura máxima desejada */
    overflow: hidden; /* Para limitar a altura */
  }
  
  .carousel-item {
    height: 100%; /* Garante que a altura do item seja 100% da altura máxima */
  }
  
  .carousel-item img {
    width: 100%; /* Garante que a imagem preencha a largura do carrossel */
    height: 100%; /* Faz com que a imagem preencha a altura do item */
    object-fit: cover; /* Redimensiona a imagem para preencher o espaço */
  }







#Slogan{
  box-sizing: border-box;
  font-weight: 600;
  letter-spacing: -2px;
  color: #5a6f80;
  font-size: 46px;
  font-family: 'Metropolis', sans-serif;

}

  #section_2 {
    font-family: 'Metropolis', sans-serif;
    background-image: linear-gradient(to bottom, rgba(255, 224, 22, 0.8), white);

}
.cta-section {
    position: relative;
    overflow: hidden;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}

.cta-section::before {
  content: "";
  background-color:#59b9ca;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -30px;
  margin: auto;
  width: 200px;
  height: 200px;
}

.custom-btn {
  background: #5a6f80;
  border: 2px solid transparent;
  border-radius: 100px;
  color:#ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding: 15px 25px;
}

.custom-btn a{
  font: white;
  background: #5a6f80;
  font-size: 18px; 
  font-family: 'Metropolis', sans-serif;

}

.cta-section::after {
  content: "";
  border: 20px solid #5a6f80;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  right: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 991px){
.cta-section::after {
    bottom: -60px;
    width: 100px;
    height: 100px;
}
.cta-section::before {
  width: 150px;
  height: 150px;
}
}

#nomeInst{
  font-family: 'Metropolis', sans-serif;

  color: #59b9ca;
  font-size: 24;
  font-weight: 600;
  letter-spacing: -1px;
}

#descricaoInst{
  font-family: 'Metropolis', sans-serif;

  color: #717275;
    font-size: 16px;
    font-weight: 300;
}



//aqui começa o contate-nos aka footer
#sobrenos {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #f5e74c);
}

.contact-section {
  background: white;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.contact-info-wrap {
  padding-top: 40px;
}

h2 {
  font-family: 'Metropolis', sans-serif;

  color: #5a6f80;
  font-size:46px;
  letter-spacing: -2px;
}

.avatar-image {
  border-radius: 100px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.img-fluid {
  max-width: 100%;}

  .contact-image-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap!important;
}
.d-flex {
    display: flex!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

h5 {
  color: #59b9ca;
  font: size 24px;;
  font-size: 30px;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
               1px -1px 0 rgba(255, 255, 255, 0.5),
               -1px 1px 0 rgba(255, 255, 255, 0.5),
               1px 1px 0 rgba(255, 255, 255, 0.5);

  font-weight: 600;
    letter-spacing: -1px;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;}

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #717275;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Metropolis', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px -1px 0 rgba(255, 255, 255, 0.5),
    -1px 1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.text-contact {
  color: #000000;
  padding-top: 150px;
}

.site-footer {
  background-color:#44525d;
  padding-top: 0px;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}
.align-items-center {
  align-items: center!important;
}
.justify-content-center {
  justify-content: center!important;
}
.d-flex {
  display: flex!important;
}


.social-icon {
  margin: 0;
  padding: 10px;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: #44525d;
  border-radius: 100px;
  color:white;
  font-size: 14px;
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 50px;
  height: 35px;
  line-height: 38px;
}

.social-icon-link:hover {
  background:#59B9CA;
  color: white;
}