<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="navbar-custom navbar-expand-lg"></div>
<header>
<!--Barra de Navegação-->
<div class="container navbar-expand-lg" id="navbar">
<div class="row">
  <div class="col-md-3 col-sm-3 col-3">
    <div class="logo">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/images/logos/Ellipse 1.png" width="60" height="60">
        <span>
          <h6 style="margin-bottom: 0rem;" id="nome">Ajudoe</h6>
          
          <small>Seja a diferença<br> entre a fome e a esperança. Contribua!</small>
      </span>
      </a>
    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-9 text-end">
    <div class="menu_icon"  [class.menu_icon_Class]="menu_icon_variable"  (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>


    </div>
    <div class="menu"[class.menuClass]="menuVariable">
      <ul>
        <li><a class="nav-link" routerLink="/">Home</a></li>
        <li><a class="nav-link" routerLink="/quem_somos">Quem Somos?</a></li>
        <li><a class="nav-link" href="#instituicoes">Instituições</a></li>
        <li><a class="nav-link" href="#sobrenos">Contate-nos</a></li>
        <li *ngIf="isAuthenticated() && getUserType() === 'usuario_comum'">
          <a class="nav-link" routerLink="/meus_anuncios">Meus Anúncios</a>
        </li>
        <li *ngIf="isAuthenticated() && getUserType() === 'usuario_especial'">
          <a class="nav-link" routerLink="/admin">Administrar Site</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>


</div>


  
</header>  
<div>
  <router-outlet></router-outlet>
</div>


<section class="contact-section section-padding" id="sobrenos">
  <div class="container">
      <div class="row">

          <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
              <div class="contact-info-wrap">
                  <h2>Contate-nos</h2>

                  <div class="contact-image-wrap d-flex flex-wrap">
                      <img src="../assets/images/logos/Ellipse 1.png" class="img-fluid avatar-image" alt="">

                      <div class="d-flex flex-column justify-content-center ms-3">
                          <p class="mb-0" id="img_tlt">Ajudoe</p><br>
                          
                      </div>
                  </div>

                  <div class="contact-info">
                      <h5 class="mb-3">Informações para contato</h5>

                      <p class="d-flex mb-2">
                          <i class="bi-geo-alt me-2"></i>
                          R. Benfica, 455 - Madalena, Recife - PE, 50720-001                     
                         </p>

                      

                      <p class="d-flex">
                          <i class="bi-envelope me-2"></i>

                          <a href="mailto:ajudoe@upe.br">
                              ajudoe@poli.br
                          </a>
                      </p>

                      
                  </div>
              </div>
          </div>

          <div class="col-lg-5 col-12 mx-auto">
              <div>
                  <p class=" text-contact">
                      Bem-vindo à nossa página de contato, estamos felizes em ouvir de você!<br> 

                  <br>Entre em contato conosco por meio das redes sociais ao lado. <br>
                  
                  <br>Se você tiver alguma dúvida ou feedback nos contate!</p> </div>
              
          </div>
          
      </div>
  </div>
</section>

<footer class="site-footer">
<div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
  <ul class="social-icon">
      <li class="social-icon-item">
          <a href="https://twitter.com/ajudoe_" class="social-icon-link bi-twitter"></a>
      </li>

      <li class="social-icon-item">
          <a href="https://www.facebook.com/profile.php?id=100094016611380" class="social-icon-link bi-facebook"></a>
      </li>

      <li class="social-icon-item">
          <a href="https://www.instagram.com/ajudoe_/" class="social-icon-link  bi-instagram"></a>
      </li>
  </ul>
</div>
</footer>
