
header{
  height: 72px;
  padding: 10px 0;
  background-color: #B4E305;
}

.navbar-custom {
  background-color: #59B9CA;
  height: 25px;
}

.menu{
  font-family: 'Metropolis', sans-serif;

  top: 32px;

}
.menu ul{
  padding: 0;
  margin-top: 20px;

}
.menu ul li  {
  list-style-type: none;
  color: black;
  display: inline-block;
  font-size: 15px;
  margin-left: 69px;
  
}

.menu ul li :hover{
  
  text-decoration: #59B9CA ;
  cursor: pointer;
  transition: 0.4 ease-in-out;
}

.navbar-brand{
  font-family: 'Metropolis', sans-serif;
  font-size: 22px;
  color: #717275;
  cursor: pointer;
  font-weight: 700;

}
.menu a:hover{
  font-weight: 700;
 color: #59B9CA;
  cursor: pointer;

}
.menu a{
  font-size: 16px;
  color: #717275;
  text-align: center;
  

}
.navbar-brand span {
  display: inline-block;
  vertical-align: middle;
}
.navbar-brand small {
  font-family: 'Metropolis', sans-serif;

  color:#5a6f80;
  display: block;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
}
@media only screen and (max-width:999px) {

  .menu{
    position: fixed;
    position: fixed;
    top: 127px;
    background: #B4E305;
    right: -280px;
    height: 100%;
    width: 280px;
    z-index: 999; 

  }
  .menu ul li  {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
  }
  .menu_icon{
    cursor: pointer;

    display: inline-block;
    position: relative;
    right: 0;
    top: 9px;
  }

  .menu_icon span{
    top: 18px;
    width: 32px;
    height: 3px;
    background: #000;
    display: block;
    transition: 0.4s ease-in-out;
  }

  .menu_icon span:nth-child(2){
    margin: 4px 0;

  }
  .menu_icon_Class span:nth-child(2){
    display: none;
  }
  .menu_icon_Class span:nth-child(1){
    transform: rotate(40deg);
  }
  .menu_icon_Class span:nth-child(3){
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  .menuClass{
    top: 97px;
    position: absolute;

    right: 0;
    transition: 0.4 ease-in-out;
  }
}





//aqui começa o contate-nos aka footer
#sobrenos {
  background-color: #f5e74c;
}

.contact-section {
  background: white;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.contact-info-wrap {
  padding-top: 40px;
}

h2 {
  font-family: 'Metropolis', sans-serif;

  color: #5a6f80;
  font-size:46px;
  letter-spacing: -2px;
}

.avatar-image {
  border-radius: 100px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.img-fluid {
  max-width: 100%;}

  .contact-image-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap!important;
}
.d-flex {
    display: flex!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

h5 {
  color: #59b9ca;
  font: size 24px;;
  font-weight: 600;
    letter-spacing: -1px;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;}

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #717275;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Metropolis', sans-serif;
    margin-top: 0;
    margin-bottom: 1rem;

}

.text-contact {
  color: #000000;
  padding-top: 150px;
}

.site-footer {
  background-color:#44525d;
  padding-top: 0px;
}

.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}
.align-items-center {
  align-items: center!important;
}
.justify-content-center {
  justify-content: center!important;
}
.d-flex {
  display: flex!important;
}


.social-icon {
  margin: 0;
  padding: 10px;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: #44525d;
  border-radius: 100px;
  color:white;
  font-size: 14px;
  display: block;
  margin-right: 5px;
  text-align: center;
  width: 50px;
  height: 35px;
  line-height: 38px;
}

.social-icon-link:hover {
  background:#59B9CA;
  color: white;
}