<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<div class="navbar-custom navbar-expand-lg"></div>
<header>
<!--Barra de Navegação-->
<div class="container navbar-expand-lg" id="navbar">
<div class="row">
  <div class="col-md-3 col-sm-3 col-3">
    <div class="logo">
      <a class="navbar-brand" routerLink="/">
        <img src="../assets/images/logos/Ellipse 1.png" width="60" height="60">
        <span>
          <h6 style="margin-bottom: 0rem;" id="nome">Ajudoe</h6>
          
          <small>Seja a diferença<br> entre a fome e a esperança. Contribua!</small>
      </span>
      </a>
    </div>
  </div>
  <div class="col-md-9 col-sm-9 col-9 text-end">
    <div class="menu_icon"  [class.menu_icon_Class]="menu_icon_variable"  (click)="openMenu()">
      <span></span>
      <span></span>
      <span></span>


    </div>
    <div class="menu"[class.menuClass]="menuVariable">
      <ul>
        <li><a class="nav-link" routerLink="/">Home</a></li>
        <li><a class="nav-link" routerLink="/quem_somos">Quem Somos?</a></li>
        <li><a class="nav-link" href="#instituicoes">Instituições</a></li>
        <li *ngIf="isHomePage">
          <a class="nav-link" href="#sobrenos">Contate-nos</a>
        </li>
        <li *ngIf="isAuthenticated() && getUserType() === 'usuario_comum'">
          <a class="nav-link" routerLink="/meus_anuncios">Meus Anúncios</a>
        </li>
        <li *ngIf="isAuthenticated() && getUserType() === 'usuario_especial'">
          <a class="nav-link" routerLink="/admin">Administrar Site</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>


</div>


  
</header>  
<div>
  <router-outlet></router-outlet>
</div>


