

.navbar-custom {
  background-color: #476187;
  height: 55px;
}

.navbar-toggler-icon {
  color: #000;
}

.navbar-nav {
  margin-left: auto;
 
}
.nav-item, .nav-link{
margin-left: 69px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
}

/* Icone de Lupa*/

