body {
    background-image: linear-gradient(to bottom, white, rgba(255, 224, 22, 0.8));
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }
  
  .login-form {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group-addon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
  
  .form-control {
    padding-left: 45px;
  }
  
  .btn-primary {
    background-color: #59BCC8;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .btn-block {
    width: 100%;
  }
  .container {
    text-align: center;
  }
  


  .login-form {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }