<div class="container">
  <h2 class="my-5">Login</h2>
  <div></div>
  
  <form (ngSubmit)="onLogin()">
    <div class="form-floating mb-3">
      <i class="envelope fa-solid fa-envelope fa-lg"></i>
      <input type="text" class="form-control" placeholder="username" id="username" name="username" [(ngModel)]="authData.username" required>
      <label for="username">usuario</label>
    </div>
    <div class="form-floating mb-3">
      <i class="lock fa-solid fa-lock fa-lg"></i>
      <input type="password" class="form-control" placeholder="Senha" id="password" name="password" [(ngModel)]="authData.password" required>
      <label for="password">Senha</label>
    </div>
    <div class="form-floating mb-3">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div *ngIf="loginError" class="error">{{ loginError }}</div>
  </form>

</div>
