
@import "leaflet/dist/leaflet.css";


#retangulo {
    width: 100%;
    height: 39px;
    background-color: #C61E2B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  #apresenta-instituição {
    margin-top: 49px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  
  #nome-instituição {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 41px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  #btn-nossos-projetos {
    font-size: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 60px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 41px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #lista-projetos {
    color: #000;
    font-size: 16px;
  }
  
  #texto-lado-logo {
    justify-content: flex-start;
    width: 80%;
    color: #121212;
    font-size: 46px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold; 
    text-transform: uppercase; /* Deixa o texto em letras maiúsculas */

  }

  #texto-lado-logo-2 {
    width: 80%;
    color: #121212;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  
   

  }
  #mapid { 
    position: relative;
    align-self: center;
    margin-top: 36px;
    width: 100%;
    height: 298px;
   max-width: 80%;
    min-height: 298px;
 }
  #mapa {
    align-self: center;
    margin-top: 36px;
    width: 100%;
    height: 350px;
    max-width: 100%;
    min-height: 298px;
  }

  
  








  #dados-instituição {
    justify-content: flex-start;
    color: #000;
    text-align: left;
    font-size: 36px;
    font-weight: 600;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #apresenta-instituição-logo {
    width: 218px;
    height: 233px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #texto-lado-logo {
    margin-left: auto;
    margin-right: auto;
  }


  .card-img-top {
    height: 200px;
    object-fit: cover;
   
  }

  .btn-custom {
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #FFE114;
    color: black; 
    outline: none;
    border: none; 
    font-weight: bold; 


  }

  .card-text {
    height: 70px;
    overflow: hidden;
  }
  .card-description {
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
  }
  .card-title {
    height: 60px;
    overflow: hidden;
    font-weight: bold; 
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
    max-width: 690px; /* Defina a largura máxima desejada para o container */
    margin: 1.2rem auto; /* Centraliza o container horizontalmente */
    padding-top: 20px; /* Adiciona um espaço acima do container */
  }

  .form-item {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .form-item label {
    width: 220px;
    margin-right: 10px;
    font-weight: bold;
    color: black;
  }

  .form-item .input-group {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
  }

  .form-item .input-group input[type="text"],
  .form-item .input-group select,
  .form-item .input-group input[type="search"] {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }

  .form-item.large-input label {
    flex-basis: 0; /* Ajuste o tamanho horizontal do label para o campo 1 */
  }

  .form-item .input-group input[type="search"] {
    margin-left: 0; /* Remove a margem à esquerda do botão de pesquisa */
  }

  .input-group {
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  @media (min-width: 768px) {
    /* Estilos para dispositivos com largura igual ou superior a 768px */
    .form-container {
      grid-template-columns: 2fr 1fr;
    }

    .form-item.large-input label {
      flex-basis: 180px;
    }
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  /* Adicione uma regra de estilo para o tamanho de tela pequeno (máximo 768px) */
@media (max-width: 768px) {
  #apresenta-instituição {
    margin-top: 20px; /* Reduza o espaço superior */
  }

  #mapid,
  #mapa {
    width: 80%; /* O mapa ocupará a largura total */
    height: 200px; /* Altura reduzida para dispositivos menores */
    margin-top: 20px; /* Reduza o espaço superior */
  }

  #dados-instituição {
    font-size: 24px; /* Reduza o tamanho da fonte */
    text-align: center; /* Centralize o texto */
    width: 100%;
    margin-top: 20px; /* Reduza o espaço superior */
    
  }

  #btn-nossos-projetos {
    font-size: 24px; /* Reduza o tamanho da fonte */
    height: auto; /* Ajuste a altura automaticamente */
    margin-top: 20px; /* Reduza o espaço superior */
  }

  #texto-lado-logo {
    font-size: 24px; /* Reduza o tamanho da fonte */
    margin-top: 20px; /* Reduza o espaço superior */
  }

  .form-container {
    max-width: 100%; /* O container ocupará a largura total */
  }
}


/* Adicione uma regra de estilo para o tamanho de tela pequeno (máximo 768px) */
@media (max-width: 768px) {
  /* ... (outras regras de estilo) ... */

  .row.d-flex {
    flex-direction: column; /* Altere a direção da flexbox para uma coluna */
    align-items: center; /* Centralize horizontalmente */
  }

  .col-md-5 {
    display: flex; /* Use flexbox para alinhar a imagem e o texto */
    flex-direction: column; /* Empilhe a imagem e o texto verticalmente */
    align-items: center; /* Centralize horizontalmente */
    text-align: center; /* Centralize o texto */

    #apresenta-instituição-logo {
      width: 218px;
      height: 233px;
      margin: 20px 0; /* Adicione margens verticais */
      
    }
  }

  /* ... (outras regras de estilo) ... */
}

/* Adicione uma regra de estilo para o tamanho de tela pequeno (máximo 768px) */
@media (max-width: 768px) {
  /* ... (outras regras de estilo) ... */

  .row.d-flex {
    flex-direction: column; /* Altere a direção da flexbox para uma coluna */
    align-items: center; /* Centralize horizontalmente */
  }

  .col-md-5 {
    display: flex; /* Use flexbox para alinhar a imagem e o texto */
    flex-direction: column; /* Empilhe a imagem e o texto verticalmente */
    align-items: center; /* Centralize horizontalmente */
    text-align: center; /* Centralize o texto */

    #apresenta-instituição-logo {
      width: 218px;
      height: 233px;
      margin: 20px 0; /* Adicione margens verticais */
    }
  }

  /* ... (outras regras de estilo) ... */

  #dados-instituição,
  #mapid {
    width: 100%; /* O mapa ocupará a largura total */
    margin: 20px 0; /* Adicionar margens verticais */
  }

  .row.justify-content-center {
    display: grid; /* Usar um grid */
    grid-template-columns: repeat(2, 1fr); /* Grid 2x2 */
    gap: 20px; /* Espaço entre os elementos do grid */
    text-align: center; /* Centralizar o texto no grid */
  }
}
#mapid,
#mapa {
  width: 100%; /* O mapa ocupará a largura total */
  /* ... outros estilos ... */
  width: 100%;
  height: auto;
}
/* ... (seu CSS atual) ... */

.img-campanha {
  max-width: 550px;
  max-height: 600px;
  width: auto;
  height: auto;
  border-radius: 50%; /* Torna a imagem redonda */
}

/* ... (seu CSS atual) ... */


.featurette-heading{
  margin-left:40px;
  text-transform: uppercase; /* Deixa o texto em letras maiúsculas */
  font-weight: bold; /* Torna o texto mais grosso */

}

.lead{
  margin-left:50px;

}


/* ... (seu CSS atual) ... */

@media (max-width: 768px) {
  /* Alinhar texto e imagem verticalmente em dispositivos menores */
  .row.d-flex {
    flex-direction: column;
    align-items: center;
  }

  .col-md-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Ajustar a imagem responsiva */
  .img-campanha {
    max-width: 100%;
    height: auto;
  }

  /* Ocultar o mapa em dispositivos menores */

}

/* ... (seu CSS atual) ... */

#mapid,
#mapa {
  width: 100%; /* O mapa ocupará a largura total */
  margin-left: 50%;
  
  transform: translateX(-50%);  margin-top: -10px;
  width: 100%;
  height: auto;
}
.logo{
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Exemplo de sombra */

}