
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<div id="mt-5"></div>

<div class="container" id="apresenta-instituição" *ngIf="instituicoes" >
  <div class="row d-flex">
    <div class="col-md-5">
      <img src="{{ instituicoes.imagem }}" alt="imagem da instituição" id="dados-instituição">
      
      <h2 class="col" id="dados-instituição">
      
        Telefone: {{ instituicoes.telefone }}<br>
        Email: {{ instituicoes.email }}
      </h2>
      

    </div>
    
    <div class="col-md-7">
      <div class="col d-flex">
        <h1 id="texto-lado-logo">
          {{ instituicoes.nome }}
        </h1>
      </div>

      <div class="col d-flex">
        <div class="d-flex" id="texto-lado-logo-2">{{ instituicoes.descricao }}</div>
      </div>

     
    </div>
    <div class="col-md-12 text-center">
      <div class="col d-flex">
        <div class="mt-5 justify-content-center" id="mapa">
          
          <div id="mapid"></div>
        </div>
      </div>
    </div>
  </div>


  <div class=""></div>
  <div class="row justify-content-center">
    
    <div class="col"></div>
    <div class="col"></div>
    

    

    <div class="col"></div>
    
  </div> 
  
  
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col"></div>
    
    <div class="col">
      <div class="d-flex">
        <!-- aqui vai uma imagem-->

        
      </div>
    </div>

    <div class="col"></div>
    <div class="col"></div>
  </div>


  <hr class="featurette-divider">

  <div  *ngIf="minhaCampanha.length > 0">
    <h1 class="text-center mb-5">Campanha Da Instituição</h1>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{minhaCampanha[0].nome}} </h2>
        <p class="lead">{{minhaCampanha[0].descricao}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto img-campanha" src="{{minhaCampanha[0].imagem}}" alt="Generic placeholder image">
      </div>
    </div>
  </div>

</div>


  



<div class="container mt-3">
  <div class="row">
    <h1 *ngIf="anuncios.length > 0" class="text-center mb-5">Anúncios Da Instituição</h1>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4" *ngFor="let anuncio of anuncios">
      <div class="card h-80">
        <img [src]="anuncio.imagem" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{ anuncio.nome }}</h3>
          <p class="card-description">Instituição: {{ anuncio.instituicao.nome }}</p>
          <p class="card-text">{{ anuncio.descricao }}</p>
          <div class="d-flex justify-content-center">
            <a [routerLink]="['/detalhe_anuncio', anuncio.id]" class="btn btn-primary btn-custom">   Ver mais   </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

