<body>
    
</body>



<h1>Cadastre sua Instituição</h1>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Usuário</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira o seu usuário">
</div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Insira o seu e-mail">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Senha</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Insira a sua senha">
  </div>
  <div class="text-center">
    <a href="#" class="btn btn-primary">Acessar</a>
</div>
