
.text-center .btn-primary{
    color: black;
    background-color: #FFE016;
    border: 0px solid #847E03;
    border-radius: 100px;
    font-size: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: normal
