/* Reset padrão de margens e preenchimentos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    margin: 0;
}

/* Estilos para o frameMaior */
#frameMaior {
    background-color: aqua;
    padding: 20px;
}

/* Estilos para o frameMenor */
#frameMenor {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

/* Estilos para o logoInstituicao */
#logoInstituicao {
    background-color: black;
    width: 100%; /* Preenchimento máximo */
    height: auto; /* Altura ajustável */
    max-width: 479px; /* Largura máxima */
    margin-top: 20px;
}

/* Estilos para o dadosInstituicao */
#dadosInstituicao {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para os títulos */
h2 {
    margin-top: 20px;
    font-size: 24px; /* Reduzido para dispositivos menores */
    font-weight: 700;
}

/* Estilos para o btnqueroDoar */
#btnqueroDoar {
    font-size: 24px; /* Reduzido para dispositivos menores */
    width: 100%; /* Preenchimento máximo */
    max-width: 402px; /* Largura máxima */
    height: auto; /* Altura ajustável */
    margin-top: 20px;
    border-radius: 100px;
    background: #FFE114;
    padding: 10px 20px;
    text-align: center;
}

/* Estilos para o descricaoAnunciolt */
#descricaoAnunciolt {
    margin-top: 40px; /* Aumentado para espaçamento */
    font-size: 32px;
    font-weight: 400;
}

/* Estilos para o descricaoAnuncio */
#descricaoAnuncio {
    margin-top: 20px;
    font-size: 20px; /* Reduzido para dispositivos menores */
    line-height: 1.5; /* Melhoria na legibilidade */
}

/* Estilos para o mapa */
#mapid {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-top: 20px;
    padding: 20px;
}

/* Estilos específicos para dispositivos menores */
@media only screen and (max-width: 1200px) {
    #frameMaior, #frameMenor {
        padding: 10px; /* Reduz o preenchimento */
    }

    #descricaoAnunciolt {
        font-size: 28px; /* Reduz o tamanho da fonte */
    }

    #descricaoAnuncio {
        font-size: 18px; /* Reduz o tamanho da fonte */
    }
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 700px) {
    #logoInstituicao {
        margin-left: auto;
        margin-right: auto;
    }

    #mapid {
        padding: 10px; /* Reduz o preenchimento */
    }
}
