/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

*{
    font-family: Open Sans;

}

/* styles.scss */

// Customize toastr styling
.toast {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
  }
  
  .toast-error {
    background-color: #ff0000;
  }
  
  .toast-success {
    background-color: #00ff00;
  }
  